{% extends "layout.html" %}
{% block body %}
<article>
<header>
    <h1>Category: {{ category }}</h1>
</header>

<div id="blog-archive">
{% for post in posts %}
    <article>
        <p class="meta">
            <time datetime="{{ post.date }}" pubdate>{{ post.date|date }}</time>
        </p><h2><a href="{{ post.path }}">{{ post.title }}</a></h2>
        <footer>{% if post.categories|length > 0 %}posted in {% for category in post.categories -%}
            <a href="{{ base_url }}{{ posts_dir }}/categories/{{ category }}">{{ category }}</a>
            {%- if not loop.last %}, {% endif %}{% endfor %}{% endif %}</footer>
    </article>
{% endfor %}
</div>
</article>
{% endblock %}