{% extends "layout.html" %}
{% block body %}
<article>
    <header>
        <p class="meta">
            <time datetime="{{ meta.date }}" pubdate>{{ meta.date|date }}</time>
        </p>
        <h1>{{ meta.title }}</h1>
    </header>
    {{ content }}
    {% if disqus %}
    <footer class="comments">
        <h2>Comments</h2>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{ disqus }}';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    </footer>
    {% endif %}
</article>
{% endblock %}