html { background:#252525; }
body { margin:0 auto; width:1080px; font-family:"PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif; color:#222; }

a { transition:color 0.3s; -moz-transition:color 0.3s ease 0s; -webkit-transition:color 0.3s; -o-transition:color 0.3s;
    color:#1863A1; }

header.title { background:#263347; }
    header.title p { padding:40px; font-size:22px; color:#BAC7DA; font-family:'PT Sans', 'Helvetica Neue', Arial, sans-serif; }
        header.title p a { display:block; font-size:50px; color:#FFF; text-decoration:none; font-family:"PT Serif",
            "Georgia", "Helvetica Neue", Arial, sans-serif; margin-bottom:6px; }

nav { background-color:#C5DCBB; background:url('../img/noise.png'), linear-gradient(#DCEAD6, #C5DCBB, #A5C896);
    background:url('../img/noise.png'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #DCEAD6),
    color-stop(50%, #C5DCBB), color-stop(100%, #A5C896)); font-family:'PT Sans', 'Helvetica Neue', Arial, sans-serif;
    border-top:1px solid #F0F6ED; border-bottom:1px solid #7DB067; }
    nav ul { margin-left:34px; padding:6px 0; }
        nav ul li { display:inline-block; vertical-align:middle; margin-left:6px; padding:2px 0; }
        nav ul li:not(:first-child) { border-left:1px solid #A5C896;}
        nav ul li:not(:first-child) a { border-left:1px solid #D9E8D3; padding-left:6px; }
        nav ul li a { color:#5D8C49; text-shadow:#E7F1E3 0 1px; font-size:18px; text-decoration:none; float:left;
            padding:2px 0; }
        nav ul li a:hover { color:#25381D; }

section { background:#FFF; padding-bottom:40px; }
    section header { border-bottom:1px dashed #B6B6B6; margin-bottom:25px; }
    section h1 { color:#222; font-size:36px; font-weight:bold; margin-bottom:30px; }
        section h1 a { text-decoration:none; color:inherit; }
        section h1 a:hover { text-decoration:underline; color:#0181EB; }
    section time { text-transform:uppercase; }

article { padding:40px; font-size:18px; }
article:not(:first-child) { border-top:1px dashed #B6B6B6; }
    section p, section ol, section ul { margin-bottom:25px; line-height:27px; }
    article p.meta { margin-bottom:16px; color:#AAA; font-family:'PT Sans', 'Helvetica Neue', Arial, sans-serif;
        font-size:15px; line-height:20px; }
    section ol, section ul { margin-left:24px; }
    article h2 { margin-bottom:20px; font-size:26px; font-weight:bold; }
    article h3 { font-size:22px; font-weight:bold; margin-bottom:22px; }
    article h4 { font-size:17px; font-weight:bold; margin-bottom:17px; }