html { background:#252525; }
body { margin:0 auto; width:1080px; font-family:"PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif; color:#222; }

a { transition:color 0.3s; -moz-transition:color 0.3s ease 0s; -webkit-transition:color 0.3s; -o-transition:color 0.3s;
    color:#1863A1; }

header.title { background:#263347; }
    header.title p { padding:40px; font-size:22px; color:#BAC7DA; font-family:'PT Sans', 'Helvetica Neue', Arial, sans-serif; }
        header.title p a { display:block; font-size:50px; color:#FFF; text-decoration:none; font-family:"PT Serif",
            "Georgia", "Helvetica Neue", Arial, sans-serif; margin-bottom:6px; }

nav.main { background-color:#C5DCBB; background:url('../img/noise.png'), linear-gradient(#DCEAD6, #C5DCBB, #A5C896);
    background:url('../img/noise.png'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #DCEAD6),
    color-stop(50%, #C5DCBB), color-stop(100%, #A5C896)); font-family:'PT Sans', 'Helvetica Neue', Arial, sans-serif;
    border-top:1px solid #F0F6ED; border-bottom:1px solid #7DB067; }
    nav.main ul { margin-left:34px; padding:6px 0; }
        nav.main ul li { display:inline-block; vertical-align:middle; margin-left:6px; padding:2px 0; }
        nav.main ul li:not(:first-child) { border-left:1px solid #A5C896;}
        nav.main ul li:not(:first-child) a { border-left:1px solid #D9E8D3; padding-left:6px; }
        nav.main ul li a { color:#5D8C49; text-shadow:#E7F1E3 0 1px; font-size:18px; text-decoration:none; float:left;
            padding:2px 0; }
        nav.main ul li a:hover { color:#25381D; }
    nav.main form.search { float:right; margin:3px 10px 0 0; }
        nav.main form.search input { -moz-border-radius:0.5em; -webkit-border-radius:0.5em; -o-border-radius:0.5em;
            border-radius:0.5em; -moz-box-shadow:#CBDFC2 0 1px; -webkit-box-shadow:#CBDFC2 0 1px; width:197px;
            -o-box-shadow:#CBDFC2 0 1px; box-shadow:#CBDFC2 0 1px; background-color:#F0F6ED; border:1px solid #A8CA9A;
            color:#888; font-size:15px; padding:2px; font-family:'PT Sans', 'Helvetica Neue', Arial, sans-serif; }

    nav.main #rss { background:url('../img/rss.png') no-repeat top left; display:inline-block; float:right; height:22px;
        width:22px; margin:8px 34px 0 0; }

section { background:#FFF; padding-bottom:40px; }
    section header { border-bottom:1px dashed #B6B6B6; margin-bottom:25px; }
    section h1 { color:#222; font-size:45px; font-weight:bold; margin-bottom:30px; }
        section h1 a { text-decoration:none; color:inherit; }
        section h1 a:hover { text-decoration:underline; color:#0181EB; }
    section time { text-transform:uppercase; }

article { padding:40px; font-size:18px; }
article:not(:first-child) { border-top:1px dashed #B6B6B6; }
    section p, section ol, section ul { margin-bottom:25px; line-height:27px; }
    article p.meta { margin-bottom:16px; color:#AAA; font-family:'PT Sans', 'Helvetica Neue', Arial, sans-serif;
        font-size:15px; line-height:20px; }
    section ol, section ul { margin-left:24px; }
    article h2 { margin-bottom:20px; font-size:27px; font-weight:bold; }
    article h3 { font-size:22px; font-weight:bold; margin-bottom:22px; }
    article h4 { font-size:17px; font-weight:bold; margin-bottom:17px; }
    article footer a { background:#EBEBEB; font-size:18px; color:#666; padding:7px 14px; text-decoration:none; }
        article footer a:hover { background:#0181EB; color:#F8F8F8; }

nav.pagination { border-top:1px dashed #B6B6B6; margin:0 40px; padding-top:30px; text-align:center; }
    nav.pagination a { color:#AAA; text-decoration:none; font-size:17px; }
    nav.pagination a:hover { color:#0181EB; }

#blog-archive article { padding:10px; }
#blog-archive h2 { display:inline-block; margin:0; }
    #blog-archive h2 a { color:#222; text-decoration:none; }
    #blog-archive h2 a:hover { color:#0181EB; text-decoration:underline; }
#blog-archive p.meta { display:inline-block; vertical-align:bottom; width:130px; margin:0; }
#blog-archive footer { color:#AAA; font-size:17px; font-family:'PT Sans', 'Helvetica Neue', Arial, sans-serif;
    margin:10px 0 20px 130px; }
    #blog-archive footer a { background:none; padding:0; color:#AAA; text-decoration:underline; }
    #blog-archive footer a:hover { color:#0181EB; }

pre { background:#002B36; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; overflow:auto;
    border:1px solid #073642; line-height:18px; font-size:13px; margin-bottom:27px; padding:10px 13px; color:#93A1A1;
    font-family:Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace; }