<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

	<title>octopy</title>

    <link rel="stylesheet" type="text/css" href="../templates/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../templates/css/style.css">
</head>
<body>
    <header>
        <hgroup>
            <p><a href="/">octopy</a> A static site generator</p>
        </hgroup>
    </header>
    <nav>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
    <section>
        {% block body %}{% endblock %}
    </section>
    <footer>Powered by octopy</footer>
</body>
</html>