<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

	<title>py&egrave;v</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <header>
        <div id="title">py&egrave;v static site generator</div>
    </header>
    <section>
        <article>
            {% block body %}{% endblock %}
        </article>
    </section>
    <footer>Powered by py&egrave;v</footer>
</body>
</html>